
header {
  position: relative;
}

.entete-pages picture img {
  width: 100%;
  z-index: 1;
}

/* Barre de navigation principale */

.menu-principal {
  width: 100%;
  z-index: 100;
  background-color: $vertForet;

  .accueil::before {
	display: inline-block;
	width: 3.5rem;
	height: 3.5rem;
	vertical-align: middle;
	margin-top: 1rem;
	margin-right: 1rem;
	content: "";
	background: url(../images-css/logo-symbole-ren.svg) no-repeat;
  }

  &__liste {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;

	.articles-recents {
	  position: relative;
	}
  }

  &__item {
	display: inline;

	&:hover .menu-principal__sous-menu-liste {
	  display: block;
	}
  }

  &__lien {
	font-family: Heebo-Medium, sans-serif;
	font-size: 1.25em;
	padding-left: 2rem;
	padding-right: 2rem;
	line-height: 6rem;
	display: inline-block;
    @media screen and (max-width: 603px) {
      width: calc((100% / 3) - 4px);
    }
	&.accueil {
	  font-family: Heebo-Bold, sans-serif;
      @media screen and (max-width: 603px) {
        width: 100%;
        text-align: left;
      }
	}

	&:link, &:visited {
	  text-decoration: none;
	  color: #ffffff;
	  transition: none, 0.3s ease-in-out;
	}

	&:hover, &:active {
	  text-shadow: #33FF33 0 0 10px;
	  border-bottom: #FFFFFF 4px solid;
	}
  }

  &__sous-menu-liste {
	display: none;
	position: absolute;
	z-index: 1000;
	top: 4.5rem;
	left: 0;
	width: 400px;
	padding: 25px 25px;
	text-align: left;
	background-color: rgba(0, 100, 55, 0.95);
	line-height: 1.25em;
  }

  &__sous-menu-item {
	display: block;
	list-style: none;
	padding: 5px 0;
  }

  &__sous-menu-lien:link, &__sous-menu-lien:visited {
	text-decoration: none;
	color: #ffffff;
  }

  &__sous-menu-lien:hover, &__sous-menu-lien:active {
	text-shadow: #33FF33 0 0 10px;
	text-decoration: underline;
  }
}


/* ÉLÉMENTS ACTIFS */

.page-courante {
  border-bottom: #FFFFFF 4px solid;
  font-weight: bold;
}





