


header {
  position: relative;
}

.entete-pages picture img {
  width: 100%;
  z-index: 1;
}

/* Barre de navigation principale */

.navigation {
  width: 100%;
  z-index: 100;
  font-family: Heebo-Bold, sans-serif;
  font-size: 1.25em;
  background-color: $vertForet;
}

/* Liens du menu */

.menu-principal {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;

  & > li {
	display: inline;
    margin: 0 1rem;

	& > a {
      padding-left: 2rem;
      padding-right: 2rem;
      line-height: 6rem;
      &:link, &:visited {
        text-decoration: none;
        color: #ffffff;
        transition: none, 0.3s ease-in-out;
      }
      &:hover, &:active {
        text-shadow: #33FF33 0 0 10px;
        border-bottom: #FFFFFF 4px solid;
        padding-bottom: 1.2rem;
      }
	}
  }
}



/* ÉLÉMENTS ACTIFS */

.page-courante {
  border-bottom: #FFFFFF 4px solid;
  padding-bottom: 1.2rem;
  font-weight: bold;
}

/* SOUS-MENU */

.sous-menu-articles {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 4.5rem;
  left: 0;
  width: 400px;
  padding: 25px 25px;
  text-align: left;
  background-color: rgba(0, 100, 55, 0.95);
  line-height: 1.25em;

}

.sous-menu-articles li {
  display: block;
  list-style: none;
  padding: 5px 0;
}

.menu-principal > li:nth-child(2):hover .sous-menu-articles {
  display: block;
}

.menu-principal > li:nth-child(2) {
  position: relative;
}

.sous-menu-articles > li > a:link, .sous-menu-articles > li > a:visited {
  text-decoration: none;
  color: #ffffff;
}

.sous-menu-articles > li > a:hover, .sous-menu-articles > li > a:active {
  text-shadow: #33FF33 0 0 10px;
  text-decoration: underline;
}

