/**
 * @author Gabriel Caron <1861095@csfoy.ca>
 * @version 2021.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* VARIABLES
** Polices de caractères
* PALETTES DE COULEURS
** Couleurs de base
** Autres couleurs
* POINTS DE RUPTURE
*/

/** Polices de caractères **/

//@font-face {
//  font-family: Quicksand-Regular;
//  src: url(../fonts/quicksand-regular.woff2) format('woff2'),
//  url(../fonts/quicksand-regular.woff) format('woff'),
//  url(../fonts/quicksand-regular.ttf) format('truetype');
//}
//
//@font-face {
//  font-family: Quicksand-Bold;
//  src: url(../fonts/quicksand-bold.woff2) format('woff2'),
//  url(../fonts/quicksand-bold.woff) format('woff'),
//  url(../fonts/quicksand-bold.ttf) format('truetype');
//}
//
//
//@font-face {
//  font-family: Rajdhani-Bold;
//  src: url(../fonts/rajdhani-bold.woff2) format('woff2'),
//  url(../fonts/rajdhani-bold.woff) format('woff'),
//  url(../fonts/rajdhani-bold.ttf) format('truetype');
//}
//
//
//$Quicksand-Regular: Quicksand-Regular, sans-serif;
//$Quicksand-Bold: Quicksand-Bold, sans-serif;
//$Rajdhani-Bold: Rajdhani-Bold, sans-serif;


$coinArrondi: 1rem;

/** Palette de couleurs **/

/* Couleurs de base */
$gris: #F2F2F2;
$vertForet: #006437;
$noir: #000;
$blanc: #fff;

/* Autres couleurs */
$hyperlien: $vertForet;


/** Points de rupture **/
$mobile600px: 600px;
$tablet800px: 800px;
$tablet900px: 900px; // Pied de page seulement
$desktop1050px: 1050px;
$desktop1200px: 1200px;
