/* ===========================

STYLES GÉNÉRAUX

=========================== */


img {
  vertical-align: bottom;
  max-width: 100%;
}



// Pied de page

.footer-commun {
  background-color: #005A32;
}