@charset "UTF-8";

// TODO supprimer tous les em, remplacer par rem
// TODO supprimer tout ce qui est en commentaire

/* ===========================

PAGES

=========================== */

/* ACCUEIL */

/* Bloc titre */


.bloc-titre {
  position: absolute;
  width: 100%;
  z-index: 99;
  text-align: center;
}

.bloc-titre h1 {
  font-size: 0;

}

.logo {
  position: relative;
  width: 30rem;
  margin-left: 0.5rem; // Centre visuellement (décallage causé par l'ombre portée)
  top: -1rem;

  @media screen and (min-width: $mobile600px) {
	top: -2rem;
	width: 35rem;
  }

  @media screen and (min-width: 700px) {
	top: 0rem;
	width: 40rem;
  }

  @media screen and (min-width: $tablet800px) {
	top: 4rem;
	width: 50rem;
  }

  @media screen and (min-width: $desktop1050px) {
	width: 60rem;
	top: 10rem;
  }
}

.slogan {
  position: relative;
  color: white;
  font-size: 2.2rem;
  text-shadow: #333333 3px 3px 10px;
  top: -2rem;

  @media screen and (min-width: $mobile600px) {
	font-size: 2.6rem;
	top: -3rem;
  }

  @media screen and (min-width: 700px) {
	font-size: 3rem;
	top: -1rem;
  }

  @media screen and (min-width: $tablet800px) {
	font-size: 3.75rem;
	top: 2rem;
  }

  @media screen and (min-width: $desktop1050px) {
	font-size: 4.5rem;
	top: 8rem;
  }
}

.header-accueil {
  @include conteneur1920px($conteneurBleed: true);

  picture img {
	width: 100%;
	height: 35rem;
	object-fit: cover;

	@media screen and (min-width: 700px) {
	  height: 45rem;
	}

	@media screen and (min-width: $tablet800px) {
	  height: 60rem;
	}

	@media screen and (min-width: $desktop1050px) {
	  height: 80rem;
	}

	@media screen and (min-width: 1935px) {
	  border-radius: 0 0 $coinArrondi $coinArrondi;
	}
  }
}

/* Section Articles */

.accueil {
  & .articles {
	@include conteneur1920px;
	// Padding pour la version mobile seulement
	padding-left: 2rem;
	padding-right: 2rem;

	position: relative;
	top: -10rem;

	&__conteneurDateEdition {
	  @media screen and (min-width: $desktop1050px) {
		@include rangeeGrid12col;
	  }
	}

	&__dateEdition {
	  grid-column: 2 / 12;
	  color: $blanc;
	  text-align: center;
	  font-family: Heebo-Medium, sans-serif;
	  background-color: $vertForet;
	  margin: 0 -3rem;
	  padding: 2rem 0 5rem 0;

	  @media screen and (min-width: $desktop1050px) {
		border-radius: $coinArrondi $coinArrondi 0 0;
	  }
	}

	&__conteneur {
	  position: relative;
	  top: -3.5rem;
	  @media screen and (min-width: $tablet800px) {
		@include rangeeGrid12col;
		top: -3.5rem;
	  }

	  &Rangee {
		@media screen and (min-width: $tablet800px) {
		  grid-column: 1 / 13;
		  display: grid;
		  grid-template-columns: repeat(10, 1fr);
		  grid-gap: 20px;
		}
		@media screen and (min-width: $desktop1050px) {
		  grid-column: 2 / 12;
		}
	  }
	}

	.article {
	  grid-column: span 5;
	  color: #FFFFFF;
	  border-radius: 5px;
	  padding: 0;
	  text-decoration: none;

	  &__image {
		border-radius: $coinArrondi $coinArrondi 0 0;
		box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
	  }

	  &__categorie {
		text-align: left;
		padding: 0;
		text-transform: uppercase;
		font-size: 1.6rem;
		margin: 0.5rem 0;
		color: $blanc;
	  }

	  &__titre {
		text-decoration: none;
	  }

	  &:link .article__titre, &:visited .article__titre {
		color: #FFFFFF;
		transition: color, 0.2s ease-in-out;
	  }

	  &:hover .article__titre, &:active .article__titre {
		text-shadow: #00b300 0 0 10px;
		text-decoration: underline;
	  }

	  &:link .article__picture, &:visited .article__picture {
		transition: all, 0.2s ease-in-out;
	  }

	  &:hover .article__picture, &:active .article__picture {
		filter: brightness(110%);
	  }

	  &__figure {
		margin: 0;
		padding-bottom: 2rem;
	  }

	  &__infos {
		background-color: $vertForet;
		padding: 2rem 4rem 3rem 3rem;
		box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 20%);
		border-radius: 0 0 $coinArrondi $coinArrondi;

		@media screen and (min-width: $tablet800px) {
		  height: 17rem; // Uniformise la hauteur si le titre est court
		}
	  }

	  &__titre {
		font-size: 2.5rem;
		line-height: 120%;
		margin: 0;
		text-transform: none;

		@media screen and (min-width: 850px) {
		  font-size: 2.7rem;
		}

		@media screen and (min-width: 900px) {
		  font-size: 2.9rem;
		}

		@media screen and (min-width: 1300px) {
		  font-size: 3rem;
		}

		@media screen and (min-width: 1500px) {
		  font-size: 3.5rem;
		}
	  }
	} // fin article
  } // fin accueil
}


/* Pied de page */

.accueil {
  & .pieddepage {
	margin-top: -5rem;
  }
}
