

.formulaire {
  & > * {
	grid-column: 4 / 10;
  }
}


/* Commun à tous les champs */

.contact fieldset {
  border-color: rgba(0, 155, 50, 1);
  margin: 30px 0;
  padding: 10px 0;
}

//.contact fieldset li {
//  list-style-type: none;
//}

.contact legend {
  background-color: rgba(0, 155, 50, 1);
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 5px;

}

.contact label {
  display: block;
}

/* Langue */

.contact fieldset:nth-child(3) input {
  margin: 0 0 0 60px;
}

/* J'aimerais collaborer */

.collaborer {
  label {
	display: inline-block;
  }
}

.contact fieldset:nth-child(4) input {
  margin: 0 0 0 60px;
}

/* Expliquez pourquoi */

.contact textarea {
  width: 95%;
  height: 150px;
  margin: 10px 2.5%;
}

/* CV */

.contact fieldset:nth-child(6) input {
  margin: 5px 15px;
}

.contact .article-complet__contenu > form > input:last-child {
  background-color: rgba(0, 155, 50, 1);
  color: #FFFFFF;
  font-size: 0.9em;
  padding: 5px 30px;
  margin-bottom: 15px;
  border: none;
}
