/* ARTICLES */

/* En-tête */

/* Commun */

.entete {
  &__picture {
	@include conteneur1920px($conteneurBleed: true);
  }

  & picture img {
	width: 100%;
	z-index: 1;
	height: 20rem;
	object-fit: cover;

	@media screen and (min-width: $mobile600px) {
	  height: 30rem;
	}

	@media screen and (min-width: $desktop1050px) {
	  height: 35rem;
	}

	@media screen and (min-width: 1300px) {
	  height: 40rem;
	}

	@media screen and (min-width: 1500px) {
	  height: 50rem;
	}

	@media screen and (min-width: 1935px) {
	  border-radius: 0 0 $coinArrondi $coinArrondi;
	}
  }
}

.article {
  @include conteneur1920px;
  // Padding pour la version mobile seulement
  padding-left: 2rem;
  padding-right: 2rem;

  h1 {
	padding: 0;
  }

  h2, h3 {
	text-transform: uppercase;
  }

  &__header {
	@include rangeeGrid12col;

	& > * {
	  grid-column: 2 / 12;

	  @media screen and (min-width: 1300px) {
		grid-column: 3 / 11;
	  }
	}
  }

  &__categorie {
	text-align: center;
	padding-top: 5rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 2rem;
	color: $gris;

	& p {
	  margin: 0;
	}
  }

  &__auteur {
	text-align: center;
	padding: 0 0 2rem 0;
	text-decoration: none;
	font-size: 1.6rem;

	& p {
	  margin: 0;
	}
  }

  &__contenu {
	@include rangeeGrid12col;

	& > * {
	  grid-column: 2 / 12;

	  @media screen and (min-width: 1300px) {
		grid-column: 3 / 11;
	  }
	}

	@media screen and (min-width: 1300px) {
	  p {
		@include fontSize(25px);
	  }
	}
  }

  &__figure {
	grid-column: 1 / 13;
	margin: 0;

	& img {
	  border-radius: $coinArrondi;
	}
  }

  &__legende {
	@include fontSize(18px);
	padding: 1.5rem 0;
	font-family: Heebo-Medium, sans-serif;
	color: $gris;
  }

}


.enveloppe-video {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;

}

.enveloppe-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
