/* ===========================

PIED DE PAGE

=========================== */

/* Styles généraux */

.pieddepage {
  background-color: #005A32;
  margin-top: 5rem;

  /* Bloc Infolettre */

  &__formulaire {
	margin-bottom: 4rem;
	@media screen and (min-width: $mobile600px) {
	  grid-column: span 12;
	}

	@media screen and (min-width: 700px) {
	  grid-column: 2 / 12;
	}

	@media screen and (min-width: $tablet900px) {
	  grid-column: 3 / 11;
	}

	@media screen and (min-width: $desktop1200px) {
	  grid-column: 4 / 10;
	}

	@media screen and (min-width: 1500px) {
	  grid-column: 5 / 9;
	}
  }

  &__infolettre {
	@include conteneur1920px;
	@include rangeeGrid12col();
	padding: 5rem 3rem;
	color: #FFFFFF;
	background-image: linear-gradient(180deg, #FFFFFF 0%, #E7E7E7 100%);
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);

  }

  &__titreinfolettre {
	color: #333333;
	text-align: center;
	margin-bottom: 1.5rem;

	@media screen and (min-width: $mobile600px) {
	  grid-column: span 12;
	}
  }

  &__label {
	display: block;
	color: $noir;
  }

  &__champ {
	font-size: 0.9em;
	width: 100%;
	height: 5rem;
	border: none;
	border-radius: $coinArrondi;
	@media screen and (min-width: $mobile600px) {
	  width: 70%;
	  border-radius: $coinArrondi 0 0 $coinArrondi;
	}
  }

  &__bouton {
	background-color: $vertForet;
	border-radius: $coinArrondi;
	color: #FFFFFF;
	font-family: Heebo-Bold, sans-serif;
	font-size: 1.75rem;
	margin: 1rem 0;
	border: none;
	height: 5rem;
	width: 100%;
	@media screen and (min-width: $mobile600px) {
	  width: 30%;
	  margin-left: -0.4rem;
	  border-radius: 0 $coinArrondi $coinArrondi 0;
	}
  }

  /* Positionnement de la navigation */

  &__conteneur {
	@include conteneur1920px;
  }

  &__navigation {
	@include rangeeGrid12col;
	padding: 5rem 0 2rem 0;
  }

  &__titre {
	@include fontSize(20px);
	color: $blanc;
	text-decoration: none;
	font-family: Heebo-Medium, sans-serif;
  }

  &__lien {
	@include fontSize(20px);
	color: $blanc;
	text-decoration: none;
	font-family: Heebo-Medium, sans-serif;
  }

  &__titre:link, &__titre:visited {
	transition: all, 0.2s ease;
  }

  &__titre:hover, &__titre:active {
	text-decoration: underline;
  }

  &__titre.articles-recents:hover, &__titre.articles-recents:active {
	text-decoration: none;
  }

  &__lien.accueil {
	grid-column: 2 / 12;
	grid-row: 1;
	@media screen and (min-width: 1100px) {
	  grid-column: 2 / 5;
	}
	align-self: center;
	font-family: Heebo-Bold, sans-serif;
	@include fontSize(25px);
	&::before {
	  display: inline-block;
	  width: 3.5rem;
	  height: 3.5rem;
	  vertical-align: middle;
	  margin-top: 1rem;
	  margin-right: 1rem;
	  content: "";
	  background: url(../images-css/logo-symbole-ren.svg) no-repeat;
	}
  }

  &__titre.articles-recents {
	grid-column: 2 / 12;
	grid-row: 2;
	margin-bottom: 0;
  }

  &__articles-liste {
	grid-column: 2 / 12;
	grid-row: 3;
	margin: 0;
	padding: 0;
  }

  &__articles-item {
	list-style-type: none;
	padding: 0.5rem 0;
	color: $blanc;
  }

  &__articles-lien {
	color: $blanc;
	text-decoration: none;
  }

  &__articles-lien:link, &__articles-lien:visited {
	transition: all, 0.2s ease;
  }

  &__articles-lien:hover, &__articles-lien:active {
	text-decoration: underline;
  }

  &__titre.a-propos {
	grid-column: 2 / 12;
	grid-row: 4;
	@media screen and (min-width: 1100px) {
	  grid-column: 6 / 8;
	  grid-row: 1;
	}
  }

  &__titre.contact {
	grid-column: 2 / 12;
	grid-row: 5;
	@media screen and (min-width: 1100px) {
	  grid-column: 9 / 11;
	  grid-row: 1;
	}
  }


  /* Réseaux sociaux */

  &__reseaux-sociaux {
	&-conteneur {
	  @include rangeeGrid12col;
	}

	&-liste {
	  grid-column: 2 / 12;
	  list-style-type: none;
	  padding: 0;
	}

	&-items {
	  display: block;
	  @media screen and (min-width: 800px) {
		display: inline-block;
	  }
	  padding-right: 3rem;

	  .icone {
		display: inline-block;
		width: 50px;
		height: 50px;
		background: url(../images-css/sprite-sociaux.svg) no-repeat;
		background-size: 150px;
		border: 1px solid #FFFFFF;
		border-radius: 5px;
	  }

	  .libelle {
		display: inline-block;
		line-height: 5rem;
		vertical-align: top;
		padding-left: 1rem;
	  }

	  &:first-child .icone {
		background-position: 0 0;
	  }

	  &:nth-child(2) .icone {
		background-position: -50px 0;
	  }

	  &:nth-child(3) .icone {
		background-position: -100px 0;
	  }
	}

	&-lien {
	  display: inline-block;
	  color: #FFFFFF;
	  font-size: 2rem;
	  text-decoration: none;

	  &:link .icone, &:visited .icone {
		transition: all, 0.3s ease;
	  }

	  &:hover .icone, &:active .icone {
		background-position-y: -50px;
		border-color: #005A32;
	  }

	  &:link span, &:visited .libelle {
		transition: all, 0.1s ease;
	  }

	  &:hover span, &:active .libelle {
		text-decoration: underline;
	  }
	}
  }
}

/* Crédits */

.credits {
  padding: 3rem 0 5rem 0; // Repli en cas d'absence de Grid (sur mobile)
  @include rangeeGrid12col;
  color: $blanc;

  &__conteneur {
	grid-column: 2 / 12;
  }

  &__description {
	@include fontSize(16px);
  }

  &__auteur {
	display: block;
	font-family: Heebo-Medium, sans-serif;
	@include fontSize(16px);
  }
}

/* Articles */

.footer-article {
  font-size: 0.60em;
  background-color: #FFFFFF;
  border-top: rgba(0, 155, 50, 1) 2px solid;
  padding-top: 1em;
  padding-bottom: 5em;
}

