// header {
// 	position: relative;
// }

/* Barre de navigation principale */

.menu-principal {
	width: 100%;
	z-index: 100;
	background-color: $vertForet;

	&__liste {
		padding: 0;
		margin: 0;
		list-style-type: none;
		text-align: center;

		.articles-recents {
			position: relative;
		}
	}

	&__item {
		display: inline-block;
		width: 32.5%;

		@media screen and (min-width: $mobile600px) {
			width: initial;
		}

		&:hover .menu-principal__sous-menu-liste {
			display: block;
		}

		&:focus-within .menu-principal__sous-menu-liste {
			display: block;
		}

		&.accueil {
			font-family: Heebo-Bold, sans-serif;
			width: 100%;
			padding: 1rem 0 0 0;
			text-align: left;

			@media screen and (min-width: $tablet800px) {
				width: initial;
				padding: 0;
			}

			& .menu-principal {
				&__lien {
					width: 100%;

					&::before {
						display: inline-block;
						width: 3.5rem;
						height: 2.3rem;
						vertical-align: middle;
						margin-top: 0.5rem;
						margin-right: 1rem;
						content: "";
						background: url(../images-css/logo-symbole-ren.svg) no-repeat;
					}
				}
			}
		}
	}

	&__lien {
		font-family: Heebo-Medium, sans-serif;
		font-size: 2rem;
		padding: 0.5rem 3rem;
		display: inline-block;
		border-bottom: transparent 0.5rem solid;
		width: 100%;

		@media screen and (min-width: $tablet800px) {
			padding: 1.2rem 3rem 0.8rem 3rem;
		}

		&:link,
		&:visited {
			text-decoration: none;
			color: $blanc;
		}

		&:hover,
		&:active,
		&:focus {
			border-bottom: $blanc 0.5rem solid;
		}
	}

	&__bouton {
		background-color: transparent;
		color: $blanc;
		border: none;
		line-height: 1.5; // Annule celui hérité du bouton
	}

	&__sous-menu-liste {
		display: none;
		position: absolute;
		z-index: 1000;
		top: 4.5rem;
		left: 0;
		width: 40rem;
		padding: 2.5rem;
		text-align: left;
		background-color: rgba(0, 100, 55, 0.97);

		@media screen and (min-width: $tablet800px) {
			top: 5.5rem;
		}
	}

	&__sous-menu-item {
		display: block;
		list-style: none;
		padding: 5px 0;
	}

	&__sous-menu-lien:link,
	&__sous-menu-lien:visited {
		text-decoration: none;
		color: $blanc;
	}

	&__sous-menu-lien:hover,
	&__sous-menu-lien:active {
		text-decoration: underline;
	}
}

/* ÉLÉMENTS ACTIFS */

.page-courante {
	border-bottom: $blanc 0.5rem solid;
	font-weight: bold;
}
