// header {
// 	// position: relative;
// }

/* Barre de navigation principale */

.menu-principal {
	width: 100%;
	z-index: 100;
	background-color: $vertForet;

	.accueil::before {
		display: inline-block;
		width: 3.5rem;
		height: 2.3rem;
		vertical-align: middle;
		margin-top: 0.5rem;
		margin-right: 1rem;
		content: "";
		background: url(../images-css/logo-symbole-ren.svg) no-repeat;
	}

	&__liste {
		padding: 0;
		margin: 0;
		list-style-type: none;
		text-align: center;

		.articles-recents {
			position: relative;
		}
	}

	&__item {
		display: inline-block;

		&:hover .menu-principal__sous-menu-liste {
			display: block;
		}

		&:focus-within .menu-principal__sous-menu-liste {
			display: block;
		}
	}

	&__lien {
		font-family: Heebo-Medium, sans-serif;
		font-size: 2rem;
		padding: 0.4rem 1.9rem 0 1.9rem;
		display: inline-block;
		border-bottom: transparent 0.5rem solid;

		@media screen and (max-width: calc($mobile600px - 1px)) {
			width: calc((100% / 3) - 0.5rem);
		}

		@media screen and (min-width: $tablet800px) {
			padding: 1rem 3rem;
		}

		&.accueil {
			font-family: Heebo-Bold, sans-serif;
			@media screen and (max-width: calc($mobile600px - 1px)) {
				width: 100%;
				text-align: left;
			}
		}

		&:link,
		&:visited {
			text-decoration: none;
			color: $blanc;
		}

		&:hover,
		&:active,
		&:focus {
			border-bottom: $blanc 0.5rem solid;
		}
	}

	&__bouton {
		background-color: transparent;
		color: $blanc;
		border: none;
		line-height: 1.5; // Annule celui hérité du bouton
	}

	&__sous-menu-liste {
		display: none;
		position: absolute;
		z-index: 1000;
		top: 5.5rem;
		left: 0;
		width: 37rem;
		padding: 25px 25px;
		text-align: left;
		background-color: rgba(0, 100, 55, 0.95);
		line-height: 1.25em;
	}

	&__sous-menu-item {
		display: block;
		list-style: none;
		padding: 5px 0;
	}

	&__sous-menu-lien:link,
	&__sous-menu-lien:visited {
		text-decoration: none;
		color: $blanc;
	}

	&__sous-menu-lien:hover,
	&__sous-menu-lien:active {
		text-decoration: underline;
	}
}

/* ÉLÉMENTS ACTIFS */

.page-courante {
	border-bottom: $blanc 0.5rem solid;
	font-weight: bold;
}
